<h2>Add a Recipe</h2>
<form method="post">
  <input type="hidden" name="type" value="Recipe" />
  <div class="controls-row">
    <div class="control-group span6">
      <label class="control-label">
        <span>Name</span>
        <input class="span12" type="text" name="name">
      </label>
      <span class="help-block hide"></span>
    </div>
  </div>
  <div class="controls-row create-row">
    <button class="span4 btn-create btn btn-large btn-primary" type="submit">Add Recipe</button>
  </div>
</form>