<% layout('layout') -%>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>Welcome to LocalMart!!</h1>
<p>This page is currently in the works and will be coming soon with a variety of features to help you find local food.</p>
<p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="span4">
  <h2>Local Ingredients</h2>
  <p>We have a passion for sourcing local ingredients from the farmers that work in your area. It is important for nutrition and economical reasons that you buy food locally.  We intend on supporting that process with a strong focus on convenience.  We feel that you don't have to sacrifice all of your time to eat well. </p>
  <p><a class="btn" href="#">View details »</a></p>
</div>
<div class="span4">
  <h2>Recipes</h2>
  <p>Our goal is to provide you with the resources you need to understand the availability of local foods.  We do not just stop there!  We also want to make sure you know how to prepare the foods and can identify recipes based on the local foods that are immediately available.  </p>
  <p><a class="btn" href="#">View details »</a></p>
</div>
<div class="span4">
  <h2>Management</h2>
  <p>We also understand that not everything can be sourced locally.  It is important to identify great recipes that can be made with ingredients you already have.  Our goal is to help you manage your food inventory, helping you to identify what you need to purchase to make great recipes and where you can source these ingredients while helping you understand what percentage of your meal is local and also letting you track your carbon footprint.</p>
  <p><a class="btn" href="#">View details »</a></p>
</div>
</div>

<hr>
