<% layout('layout') -%>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1><%= message %></h1>
<script src="raphael-min.js"></script>
<script src="../us-map-svg.js"></script>
<script src="show-map.js"></script>
</div>
