<% layout('layout') -%>
<br/>
<div class='row-fluid'>
    <div class='span8 offset2'>
    <h2><%- state %></h2>
    <div id="container" style="padding-top: 30px;"></div>
    </div>
</div>
<script src="assets/js/usmap/raphael-min.js"></script>