{% extends "core/layout.html" %}

{% set View.Title = "LocalMart | Add Entry" %}

{% set TemplatePaths = {
"Recipe": "entry/entryTypes/recipe.html",
"Market": "entry/entryTypes/market.html",
"Event": "entry/entryTypes/event.html",
"Vendor": "entry/entryTypes/vendor.html"
  }
%}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });
</script>
{% endblock %}

{% block content %}
<div class="row-fluid" style="padding-top: 20px;">
  <div class="span6 offset2 messages">
    {% if message %}
      {{message}}
    {% endif %}
  </div>
  <div class="span6 offset2">
    <ul class="nav nav-tabs">
      {% for entryType in entryTypes %}
        <li {% if loop.first %}class="active"{% endif %}><a href="#{{entryType}}" data-toggle="tab">{{entryType}}</a></li>
      {% endfor %}
    </ul>

    <div class="tab-content">
    {% for entryType in entryTypes %}
        <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{entryType}}">
          {% if entryType == "Recipe" %}
            {% include "entry/entryTypes/recipe.html" %}
          {% else if entryType == "Market" %}
            {% include "entry/entryTypes/market.html" %}
          {% else if entryType == "Event" %}
            {% include "entry/entryTypes/event.html" %}
          {% else if entryType == "Vendor" %}
            {% include "entry/entryTypes/vendor.html" %}
          {% endif %}
        </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}