{% extends "core/layout.html" %}

{% block title %}
<title>
  LocalMart | Market {{entry.market.displayName}}
</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
<![endif]-->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
<script type="text/javascript" src="/assets/js/common/localmart.js"></script>
<script type="text/javascript" src="/assets/js/common/map/icons.js"></script>
<script type="text/javascript">
  $(function(){
  var location = {lat: {% if lat %}{{lat}}{% else %}undefined{% endif %}, long: {% if long %}{{long}}{% else %}undefined{% endif %} };
  var map;
          if(location.lat){
            var savedLocation = (location.lat && location.long) ? [location.lat, location.long] : false;
            var marker = L.marker();
            map = L.map('map').setView([location.lat, location.long], 12);
          }
          else{
          map = L.map('map').setView([39.96487356336187, -93.49266517162323], 3);
          }

  var locationTip = $('#locationTip');
  $('#selectSpot').click(function() {
    locationTip.removeClass('hide');
  });

  L.tileLayer('http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
    attribution:
            'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; ' +
                    'Map data &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    subdomains: 'abcd',
    minZoom: 0,
    maxZoom: 20
  }).addTo(map);

  if(savedLocation) {
    marker.setLatLng(savedLocation);
    marker.addTo(map);
    marker.setIcon(localmart.market);
    map.panTo(savedLocation);
  }
  });
</script>
{% endblock %}

{% block content %}
<div class="row-fluid" style="padding-top: 20px;">
  <div class="span10">
    <img src="/assets/images/marketbanner.png">
    <h2 style="margin-left: 50px;">{{entry.market.displayName}}</h2>
    <div class="span5">
      {% for vendorEntry in entry.market._vendors %}
        {% if loop.first %}<a href="/vendor/{{ entry._id }}/add" class="btn btn-primary">Add New Vendor</a><dl class="dl-horizontal">{% endif %}
          <dt><a href="/vendor/{{ vendorEntry._id }}">{{ vendorEntry.vendor.displayName }}</a></dt>
          <dd>{{ vendorEntry.vendor.description }}</dd>
        {% if loop.last %}</dl>{% endif %}
      {% else %}
      <p>No Vendors</p>
      <a href="/vendor/{{ entry._id }}/add" class="btn btn-primary">Add a Vendor</a>
      {% endfor %}
    </div>
    <div class="span5">
      <div id="map" style="height: 300px;"></div>
      <h3>Market Location</h3>
      <p>
        {{entry.market.addressLine1}}
      </p>
      {% if entry.market.addressLine2 %}
        <p>
          {{entry.market.addressLine2}}
        </p>
      {% endif %}
      <p>
        {{entry.market.city}}, {{entry.market.region}} {{entry.market.postalCode}}
      </p>
    </div>
  </div>
  <div class="span2">
    //Other nearby markets
  </div>
</div>
{% endblock %}