<div class="navbar navbar-inverse navbar-top" style="margin-bottom: 0 !important;">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">
        <a class="brand" href="/"><img src="/assets/images/logo/logo.png" style="width:246px; margin-top: -16px; margin-left: -30px;"></a>
      </div>
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/about">About</a></li>
          <li><a href="/entries">Entries</a></li>
          <li><a href="/map">Map</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/marketfinder"><i class="icon-search"></i> MarketFinder</a></li>
              <li><a href="/plantingguide"><i class="icon-list-alt"></i> Planting Guide</a></li>
            </ul>
          </li>
          {% if userName %}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; ">
              <form class="navbar-form pull-right" method="post" action="/login">
                <input class="span2" name="email" type="text" placeholder="Email">
                <input class="span2" name="password" type="password" placeholder="Password">
                <div class="form-inline">
                  <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="rememberme" value="true" />
                  <label class="string optional" style="color: #78a4e9;" for="user_remember_me"> Remember me</label>
                </div>
                <input class="btn btn-primary" style="clear: left; height: 32px; font-size: 13px;" type="submit" value="Sign In" />
              </form>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>